@using BigAttractions.ViewModels
@model AttractionsListViewModel

@{
    Layout = "_Layout";
}


<div>
    <h1>А вот и достопримечательности</h1>
    <h2>@Model.currCity</h2>
    <div class="row mt-5 mb-2">
        @{
            foreach (var attraction in Model.allAttractions)
            {
                <div class="col-lg-4">
                    <h2>Достопримечательность: @attraction.name</h2>
                    <h4>Краткое описание: @attraction.shortDesc</h4>
                    <h4>Длинное описание: @attraction.longDesc</h4>
                    <img class="img-thumbnail" src="@attraction.img" width="700" height="700" />
                    <p> <a href=@attraction.linkGoogle>ссылка на @attraction.name</a>  </p>
                </div>
            }
        }
    </div>
</div>